<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Recipe</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/img/favicon.png">
    <!-- Normalize Css -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- Main Css -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="~/Content/fonts/flaticon.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <!-- Custom Css -->
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <!-- Modernizr Js -->
    <script src="~/Content/js/modernizr-3.6.0.min.js"></script>
</head>
<body>
    
    <!-- ScrollUp Start Here -->
    <a href="#wrapper" data-type="section-switch" class="scrollup">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- ScrollUp End Here -->
    <div id="wrapper" class="wrapper">
        <!-- Header Area Start Here -->
        <header class="header-one">
            <div id="header-main-menu" class="header-main-menu header-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-3 col-sm-4 col-4 possition-static">
                            <div class="site-logo-mobile">
                                <a href="/" class="sticky-logo-light">
                                    Meals In Budget
                                </a>
                                @*<a href="/" class="sticky-logo-dark"><img src="~/Content/img/logo-dark.png" alt="Site Logo"></a>*@
                            </div>
                            <nav class="site-nav">
                                <ul id="site-menu" class="site-menu">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/Home/About">About</a>
                                    </li>
                                    <li>
                                        <a href="/Home/Recipes">Recipes</a>
                                    </li>
                                    <li>
                                        <a href="/Home/ContactUs">Nutrition Information</a>
                                    </li>
                                    @*<li>
            <a href="#">Recipes</a>
            <ul class="dropdown-menu-col-1">
                <li>
                    <a href="recipe-with-sidebar.html">Recipes With Sidebar</a>
                </li>
                <li>
                    <a href="recipe-without-sidebar.html">Recipes Without Sidebar</a>
                </li>
                <li>
                    <a href="single-recipe1.html">Single Recipe 1</a>
                </li>
                <li>
                    <a href="single-recipe2.html">Single Recipe 2</a>
                </li>
            </ul>
        </li>
        <li class="possition-static hide-on-mobile-menu">
            <a href="#">Pages</a>
            <div class="template-mega-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <div class="menu-ctg-title">Home</div>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <i class="fas fa-home"></i>Home 1
                                    </a>
                                </li>
                                <li>
                                    <a href="index2.html">
                                        <i class="fas fa-home"></i>Home 2
                                    </a>
                                </li>
                            </ul>
                            <div class="menu-ctg-title">Recipes</div>
                            <ul class="sub-menu">
                                <li>
                                    <a href="recipe-with-sidebar.html">
                                        <i class="fas fa-utensils"></i>Recipes
                                        With Sidebar
                                    </a>
                                </li>
                                <li>
                                    <a href="recipe-without-sidebar.html">
                                        <i class="fas fa-utensils"></i>Recipes
                                        Without
                                        Sidebar
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="sub-menu">
                                <li>
                                    <a href="single-recipe1.html">
                                        <i class="fas fa-utensils"></i>Single
                                        Recipe 1
                                    </a>
                                </li>
                                <li>
                                    <a href="single-recipe2.html">
                                        <i class="fas fa-utensils"></i>Single
                                        Recipe 2
                                    </a>
                                </li>
                            </ul>
                            <div class="menu-ctg-title">Other Pages</div>
                            <ul class="sub-menu">
                                <li>
                                    <a href="about.html"><i class="fab fa-cloudversify"></i>About</a>
                                </li>
                                <li>
                                    <a href="author.html"><i class="fas fa-user"></i>Author</a>
                                </li>
                                <li>
                                    <a href="single-author.html">
                                        <i class="fas fa-user"></i>Author
                                        Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <ul class="sub-menu">
                                <li>
                                    <a href="submit-recipe.html">
                                        <i class="far fa-share-square"></i>Submit
                                        Recipe
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html"><i class="fas fa-lock"></i>Login</a>
                                </li>
                                <li>
                                    <a href="404.html">
                                        <i class="fas fa-exclamation-triangle"></i>404
                                        Error
                                    </a>
                                </li>
                            </ul>
                            <div class="menu-ctg-title">Shop</div>
                            <ul class="sub-menu">
                                <li>
                                    <a href="shop.html"><i class="fas fa-shopping-cart"></i>Shop</a>
                                </li>
                                <li>
                                    <a href="single-shop.html">
                                        <i class="fas fa-shopping-cart"></i>Shop
                                        Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>*@
                                    @*<li class="hide-on-desktop-menu">
            <a href="#">Pages</a>
            <ul class="dropdown-menu-col-1">
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="author.html">Author</a>
                </li>
                <li>
                    <a href="single-author.html">Author Details</a>
                </li>
                <li>
                    <a href="submit-recipe.html">Submit Recipe</a>
                </li>
                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a href="login.html">404 Error</a>
                </li>
            </ul>
        </li>*@
                                    @*<li>
            <a href="#">Blog</a>
            <ul class="dropdown-menu-col-1">
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="blog-list.html">Blog List</a></li>
                <li><a href="single-blog.html">Blog Details</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Shop</a>
            <ul class="dropdown-menu-col-1">
                <li><a href="shop.html">Shop</a></li>
                <li><a href="single-shop.html">Shop Details</a></li>
            </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>*@
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-4 col-md-9 col-sm-8 col-8 d-flex align-items-center justify-content-end">
                            <div class="nav-action-elements-layout1">
                                <ul>
                         
                                    <li>
                                        <a href="/Account/Login" class="login-btn">
                                            <i class="flaticon-profile"></i>Admin
                                        </a>
                                    </li>
                                    <li>
                                        <div class="header-search-box">
                                            <a href="#search" title="Search" class="fill-btn">
                                                <i class="flaticon-search"></i> Search
                                            </a>
                                        </div>
                                    </li>
                                   
                                </ul>
                            </div>
                            <div class="mob-menu-open toggle-menu">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="header-bottom d-none d-lg-block">
                    <div class="container">
                        <div class="row">
                            
                        </div>
                    </div>
                </div>*@
        </header>

        @RenderBody()

    
    </div>

    <div id="search" class="search-wrap">
        <button type="button" class="close">×</button>
        <form class="search-form" action="/Home/Search" method="get">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-md-12">
                        <input type="search" class="form-control" name="Cost" id="Cost" placeholder="Enter your Budget" required />
                        <br />
                        <input type="search" class="form-control" name="Serving" id="Serving" placeholder="Enter Number of Servings " required />

                        <button type="submit" class="search-btn">
                            <span class="text-white"> Search </span> <i class="flaticon-search"></i>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>

  

    <!-- Modal End-->
    <!-- Jquery Js -->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Plugins Js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Owl Carousel Js -->
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <!-- Smoothscroll Js -->
    <script src="~/Content/js/smoothscroll.min.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
