
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Inne Page Banner Area Start Here -->
<section class="inner-page-banner bg-common" data-bg-image="../../Content/img/figure/inner-page-banner1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs-area">
                    <h1>Nutrition Information </h1>
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inne Page Banner Area End Here -->
<!-- Contact Page Area Start Here -->
<section class="contact-page-wrap">
    <div class="contact-box-left">
        <div class="container">
            <div class="section-heading heading-dark">
                <h3 class="item-heading-big">Australian Dietary Guidelines  </h3>
            </div>

            <h3 class="item-heading-big">Guideline 1  </h3>
            <p>
                To achieve and maintain a healthy weight, be physically active and choose amounts of nutritious food and drinks to meet your energy needs
                Children and adolescents should eat sufficient nutritious foods to grow and develop normally. They should be physically active every day and their growth should be checked regularly.
                Older people should eat nutritious foods and keep physically active to help maintain muscle strength and a healthy weight.
            </p>

            <h3 class="item-heading-big">Guideline 2 </h3>

            <p>

                <b> Enjoy a wide variety of nutritious foods from these five groups every day:</b>
                Plenty of vegetables, including different types and colours, and legumes/beans
                Fruit
                Grain (cereal) foods, mostly wholegrain and/or high cereal fibre varieties, such as breads, cereals, rice, pasta, noodles, polenta, couscous, oats, quinoa and barley
                Lean meats and poultry, fish, eggs, tofu, nuts and seeds, and legumes/beans
                Milk, yoghurt, cheese and/or their alternatives, mostly reduced fat (reduced fat milks are not suitable for children under the age of 2 years)
                And drink plenty of water.
            </p>
            <h3 class="item-heading-big">Guideline 3 </h3>

            <p>
                Limit intake of foods containing saturated fat, added salt, added sugars and alcohol
                a. Limit intake of foods high in saturated fat such as many biscuits, cakes, pastries,
                pies, processed meats, commercial burgers, pizza, fried foods, potato chips,
                crisps and other savoury snacks.

                Replace high fat foods which contain predominantly saturated fats such as butter, cream, cooking margarine, coconut and palm oil with foods which contain predominantly polyunsaturated and monounsaturated fats such as oils, spreads, nut butters/pastes and avocado.
                Low fat diets are not suitable for children under the age of 2 years.
                b. Limit intake of foods and drinks containing added salt.

                Read labels to choose lower sodium options among similar foods.
                Do not add salt to foods in cooking or at the table.
                c. Limit intake of foods and drinks containing added sugars such as confectionary, sugar-sweetened soft drinks and cordials, fruit drinks, vitamin waters, energy and
                sports drinks.

                d. If you choose to drink alcohol, limit intake. For women who are pregnant, planning a pregnancy or breastfeeding, not drinking alcohol is the safest option.
            </p>

            <h3 class="item-heading-big">Guideline 4 </h3>

            <p>
                Encourage, support and promote breastfeeding
            </p>

            <h3 class="item-heading-big">Guideline 5 </h3>

            <p>
                Care for your food; prepare and store it safely
            </p>
        </div>
    </div>
    <div class="contact-box-right">
        <div class="about-box">
            <div class="about-figure">
                <img src="~/Content/img/figure/food group.jpg" alt="About">
            </div>
            
        </div>
        </div>
</section>
<!-- Contact Page Area End Here -->